# Auto detect text files and perform LF normalization
* text=auto

# 二进制文件（防止 Git 误识别并破坏内容）
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.db binary
*.sqlite3 binary
*.pyd binary
*.dll binary
