fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.30
pydantic==2.7.1
python-multipart==0.0.9
aiofiles==23.2.1
python-docx==1.2.0
openpyxl==3.1.5
xlrd==2.0.1
pywin32==308
pystray==0.19.5
Pillow==11.1.0
